NEXT_PUBLIC_SUPABASE_URL=https://gqijtyriujyqfziccusp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxaWp0eXJpdWp5cWZ6aWNjdXNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNjk0OTIsImV4cCI6MjA5NTY0NTQ5Mn0.A-JJxzLDe5fINhQo_f5JTIYd-bkGDLw9l79FD1bRhAg
