NEXT_PUBLIC_SUPABASE_URL=https://khhfmmnosozockrnoxlr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtoaGZtbW5vc296b2Nrcm5veGxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNzA0NDEsImV4cCI6MjA5NTY0NjQ0MX0.VTFi6U6ndHr1wQo_PqdRs8VTcCrSaUNMpdvewkWhOrU
